:root {
    --primary-color: hsl(170, 100%, 26%);
    --headline: hsl(210, 11%, 15%);
    --paragraph: hsl(210, 9%, 31%);
  
    --brand-beige: hsl(39, 100%, 97%);
    --brand-light: hsl(148, 23%, 89%);
  
    --backgound: hsla(192, 15%, 94%, 1);
    --rosa: #c2185b;
    --azul: #2F0682;
    --laranja: #FF731D;
    --fonte-roxo: hsl(262, 47%, 55%);
    font-size: 62.5%; 
  
    --nav-height: 7.2rem;
  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body,html {
    width: 100%;
    height: 100%;
  
    font-family: 'Roboto';
    font-size: 1.6rem;
    background-color: var(--backgound);
  }
  
  .wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    background-color: var(--backgound);
  }

   /* -------------------------- Corpo ------------------------ */

   .corpo{
    width: 100%;
    height: 100%;
    padding: 1rem;
    height: auto;
    background-color: var(--backgound);
     }

@media screen and (min-width: 750px){
  .corpo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dizimos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dizimos h1{
  color: black;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 200;
  font-size: 9rem;
}

.dizimos h2{
  color: black;
  font-weight: 100;
}

.dizimos-infos{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
  background-color: #FF731D;

  margin-top: 5rem ;
  padding: 5rem;
  border-radius: 2rem;
}

.dizimos-qrcode{
  width: 45rem;
  height: 45rem;
  background-color: var(--azul);
  border-radius: 2rem;
}

.dizimos-dados hr{
  border: none;
  height: 0;
  background-color:white;
  width: 80%; /* Largura da linha */
  margin: 3rem auto; /* Espaço acima e abaixo da linha e centralizar */
}

.dizimos-dados h1{
  font-size: 5rem;
}
.dizimos-dados h2{
  font-size: 2rem;
}
.corpo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.dizimos{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 2rem;
  padding: 5rem;
}
}

@media screen and (max-width: 750px ){

.wrapper{
  background-color: var(--backgound);
}

.corpo{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dizimos{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 2rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.dizimos h1{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 200;
  font-size: 5.6rem;
  text-align: center;
}

.dizimos-infos{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.dizimos h2{
  font-size: 1.5rem;
  padding-top: 1.5rem;
  text-align: center;
}

.dizimos-qrcode{
  background-color: #2F0682;
  width: 30rem;
  height: 30rem;
  border-radius: 2rem;
  margin-bottom: 2rem;
}

.dizimos-dados h1 {
  font-size: 3.6rem;
}

.dizimos-dados h2{
  font-size: 1.6rem;
  padding: 0;
}

.dizimos-dados hr{
  border: none;
  height: 0;
  background-color:white;
  width: 80%; /* Largura da linha */
  margin: 1rem auto; /* Espaço acima e abaixo da linha e centralizar */
}
}  

@media screen and (min-width: 1260px){
  .corpo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .dizimos{
    max-width: 126rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 2rem;
    padding: 5rem;
  }
}