:root {
    --primary-color: hsl(170, 100%, 26%);
    --headline: hsl(210, 11%, 15%);
    --paragraph: hsl(210, 9%, 31%);
  
    --brand-beige: hsl(39, 100%, 97%);
    --brand-light: hsl(148, 23%, 89%);
  
    --backgound: hsla(192, 15%, 94%, 1);
    --rosa: #c2185b;
    --azul: #2F0682;
    --laranja: #FF731D;
    --fonte-roxo: hsl(262, 47%, 55%);
    font-size: 62.5%; 
  
    --nav-height: 7.2rem;
  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  
  body,html {
    width: 100%;
    height: 100%;
    
    font-family: 'Roboto';
    font-size: 1.6rem;
    background-color: var(--backgound);
  }
  
  .wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    background-color: var(--backgound);
  }

   /* -------------------------- Corpo ------------------------ */

   .corpo{
    width: 100%;
    height: 100%;
    padding: 1rem;
    height: auto;
    background-color: var(--backgound);
     }
 

@media screen and (min-width: 750px){

}

@media screen and (max-width: 750px ){
}

@media screen and (min-width: 1260px){
  

}
