:root {
    --primary-color: hsl(170, 100%, 26%);
    --headline: hsl(210, 11%, 15%);
    --paragraph: hsl(210, 9%, 31%);
  
    --brand-beige: hsl(39, 100%, 97%);
    --brand-light: hsl(148, 23%, 89%);
  
    --backgound: hsla(192, 15%, 94%, 1);
    --rosa: #c2185b;
    --azul: #2F0682;
    --laranja: #FF731D;
    --fonte-roxo: hsl(262, 47%, 55%);
    font-size: 62.5%; 
  
    --nav-height: 7.2rem;
  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  *:focus {
    outline: none;
  }
  
  body,html {
    width: 100%;
    height: 100%;
  
    font-family: 'Roboto';
    font-size: 1.6rem;
  }
  
  .wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    background-color: var(--backgound);
  }

  .corpo{
    width: 100%;
    height: 100%;
    padding: 1rem;
    height: auto;
     }
@media screen and (min-width: 750px){

  /* -------------------------- Rodape Superior ------------------------ */
  .header {
    background: var(--laranja);
    padding-inline: 1rem;
  }
  
  .nav {
    width: 100%;
    height: 9rem;
    margin-inline: auto;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img{
    width: 18rem;
  }
  
  .nav-list {
    display: flex;
    gap: 1.7rem;
    list-style: none;
  }
  
  .nav-list a {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 200;
    font-size: 2.2rem;
    color: white;
    padding-block: 1.6rem;
    text-decoration: none;
    display: flex;
  }
  
  .hamburger {
    display: none;
    border: none;
    background: none;
    border-top: 0.3rem solid #fff;
    cursor: pointer;
  }
  
  .hamburger::after,
  .hamburger::before {
    content: " ";
    display: block;
    width: 3rem;
    height: 0.3rem;
    background: #fff;
    margin-top: 0.5rem;
    position: relative;
    transition: 0.3s;
  }

   /* -------------------------- Rodape Inferior ------------------------ */
.corpo{
    width: 100%;
    height: auto;
}

   /* -------------------------- Rodape Inferior ------------------------ */

.rodape {
    width: 100%;
    height: 32rem;
    background-color: var(--laranja);
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem; 
}

.rodape-logo img{
    height: 8rem;
}

.sobre-nos {
    width: 60rem;
    height: 32rem;

    margin-left: 3rem;
    margin-right: 3rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.sobre-nos h1{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 200;
    color: white;
    font-size: 3rem;
    padding: 1rem;
    padding-bottom: 3rem;
}

.sobre-nos h2 {
    color: white;
    font-weight: 100;
    font-size: 1.4rem;
    text-align: left;
    height: 12rem;

}

.siga-nos {
    width: 60rem;
    height: 32rem;

    margin-left: 2rem;
    margin-right: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.siga-nos h1{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 200;
    color: white;
    font-size: 3rem;
    padding: 1rem;
    padding-bottom: 3rem;
}

.social {
  display: flex;
  justify-content: center;
  align-items:start;
  font-size: 3rem;
  height: 12rem;

}
.social a {
  color: white;
  text-decoration: none;
  margin: 1rem;
}
.social:hover a {
  opacity: 0.3;
  transition: 0.3s;
}
.social:hover a:hover {
  opacity: 1;
  transition: 0.3s;
}

}

@media screen and (max-width: 750px ){

  *{margin: 0;
    padding: 0;}

  .wrapper {
    width: 100%;
    height: 100%;
  }

  .corpo{
    padding: 0rem;
    margin: 0rem;
    height: 60rem;
}

* {
  margin: 0;
  padding: 0;
}

a {
  font-family: sans-serif;
  text-decoration: none;
}

*{
  outline: none;
  box-shadow: none;
}

.header {
  background: var(--laranja);
  padding-inline: 1.4rem;
}

.nav {
  max-width: 128rem;
  height: 6rem;
  margin-inline: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img{
  height: 4rem;
}

.nav-list {
  display: flex;
  gap: 32px;
  list-style: none;
}

.nav-list a {
  font-size: 18px;
  color: #fff;
  padding-block: 16px;
}

.hamburger {
  display: none;
  border: none;
  background: none;
  border-top: 3px solid #fff;
  cursor: pointer;
}

.hamburger::after,
.hamburger::before {
  content: " ";
  display: block;
  width: 30px;
  height: 3px;
  background: #fff;
  margin-top: 5px;
  position: relative;
  transition: 0.3s;
}

}

@media screen and (max-width: 750px) {
  .hamburger {
    display: block;
    z-index: 1;
  }

  .nav-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--laranja);
    clip-path: circle(100px at 90% -15%);
    transition: 1s ease-out;
    
    padding: 15rem 5rem;
    flex-direction: column;
    gap: 3.5rem;

    pointer-events: none;
  }

  .nav-list a {
    font-size: 4rem;
    opacity: 0;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 200;
  }

  .nav-list li:nth-child(1) a {
    transition: 0.3s 0.1s;
  }

  .nav-list li:nth-child(2) a {
    transition: 0.3s 0.2s;
  }

  .nav-list li:nth-child(3) a {
    transition: 0.3s 0.3s;
  }

  /* Estilos ativos */

  .nav.active .nav-list {
    clip-path: circle(1500px at 90% -15%);
    pointer-events: all;
  }

  .nav.active .nav-list a {
    opacity: 1;
  }

  .nav.active .hamburger {
    position: fixed;
    top: 26px;
    right: 16px;
    border-top-color: transparent;
  }

  .nav.active .hamburger::before {
    transform: rotate(135deg);
  }

  .nav.active .hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  .rodape {
    width: 100%;
    height: 40rem;
    background-color: var(--laranja);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 1rem;

}

  .rodape-logo img{
      height: 5rem;
      margin-top: 2rem;
      margin-bottom: 1rem;
  }

  .sobre-nos {
    height: 16rem;
  }

  .sobre-nos h1{
    margin-top: 2rem;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 200;
    color: white;
    font-size: 3rem;
  }

  .sobre-nos h2 {
    color: white;
    font-weight: 100;
    font-size: 1.4rem;
    text-align: left;
    height: 12rem;

  }

  .siga-nos {
    height: 28rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

  .siga-nos h1{
    margin-top: 1rem;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 200;
    color: white;
    font-size: 3rem;
  }

  .social {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    height: 8rem;
  }
  .social a {
    color: white;
    text-decoration: none;
    margin: 1rem;
  }
  .social:hover a {
    opacity: 0.3;
    transition: 0.3s;
  }
  .social:hover a:hover {
    opacity: 1;
    transition: 0.3s;
  }
}

@media screen and (min-width: 1260px){

  /* -------------------------- Rodape Superior ------------------------ */
  
  *{
    padding: 0;
    border: 0;
  }
  
  .logo img{
    width: 36rem;
  }
  .nav {
    max-width: 128rem;
    margin-inline: auto;
  
    display: flex;
    justify-content: space-between;
  }
    
  .nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  .nav-list a {
    text-decoration: none;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 200;
    font-size: 2.4rem;
    color: #fff;
    display: flex;
    margin: 0rem;
  }
  
  .hamburger {
    display: none;
    border: none;
    background: none;
    border-top: 0.3rem solid #fff;
    cursor: pointer;
  }
  
  .hamburger::after,
  .hamburger::before {
    content: " ";
    display: block;
    width: 3rem;
    height: 0.3rem;
    background: #fff;
    margin-top: 0.5rem;
    position: relative;
    transition: 0.3s;
  }
   /* -------------------------- Rodape Inferior ------------------------ */
.corpo{
    width: 100%;
}
   /* -------------------------- Rodape Inferior ------------------------ */

.rodape {
    width: 100%;
    height: 32rem;
    background-color: var(--laranja);
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20rem;
    padding-right: 20rem; 
}

.rodape-logo img{
    height: 6rem;
}

.sobre-nos {
    width: 60rem;
    height: 32rem;

    margin-left: 3rem;
    margin-right: 3rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.sobre-nos h1{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 200;
    color: white;
    font-size: 3rem;
    padding: 1rem;
    padding-bottom: 3rem;
}

.sobre-nos h2 {
    color: white;
    font-weight: 100;
    font-size: 1.4rem;
    text-align: left;
    height: 12rem;

}

.siga-nos {
    width: 60rem;
    height: 32rem;

    margin-left: 2rem;
    margin-right: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.siga-nos h1{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 200;
    color: white;
    font-size: 3rem;
    padding: 1rem;
    padding-bottom: 3rem;
}

.social {
  display: flex;
  justify-content: center;
  align-items:start;
  font-size: 3rem;
  height: 12rem;

}
.social a {
  color: white;
  text-decoration: none;
  margin: 1rem;
}
.social:hover a {
  opacity: 0.3;
  transition: 0.3s;
}
.social:hover a:hover {
  opacity: 1;
  transition: 0.3s;
}
}

@media screen and (max-width: 980px) and (min-width: 750px) {
  .rodape-logo img{
    height: 0rem;
  }

  .siga-nos{
    align-items: center;
  }

}
